[submodule "ROS/src/moveit_msgs"]
	path = ROS/src/moveit_msgs
	url = https://github.com/ros-planning/moveit_msgs.git
[submodule "ROS/src/ros_tcp_endpoint"]
	path = ROS/src/ros_tcp_endpoint
	url = https://github.com/Unity-Technologies/ROS-TCP-Endpoint.git
