<?xml version="1.0"?>
<launch>
  <arg name="paused" default="false"/>
  <arg name="gazebo_gui" default="false"/>
  <arg name="urdf_path" default="$(find ur3_moveit)/URDF/ur3_with_gripper.urdf"/>

  <!-- startup simulated world -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" default="worlds/empty.world"/>
    <arg name="paused" value="$(arg paused)"/>
    <arg name="gui" value="$(arg gazebo_gui)"/>
  </include>

  <!-- send robot urdf to param server -->
  <param name="robot_description" textfile="$(arg urdf_path)" />

  <!-- push robot_description to factory and spawn robot in gazebo at the origin, change x,y,z arguments to spawn in a different position -->
  <node name="spawn_gazebo_model" pkg="gazebo_ros" type="spawn_model" args="-urdf -param robot_description -model robot -x 0 -y 0 -z 0"
    respawn="false" output="screen" />

  <include file="$(find ur3_moveit)/launch/ros_controllers.launch"/>
 <!-- start this controller -->
 <rosparam file="$(find ur3_moveit)/config/ros_controllers.yaml" command="load"/>
 <node name="arm_controller_spawner" pkg="controller_manager" type="controller_manager" args="spawn arm_controller" respawn="false" output="screen"/>
 
 <!-- load other controllers -->
 <node name="ros_control_controller_manager" pkg="controller_manager" type="controller_manager" respawn="false" output="screen" args="load joint_group_position_controller" />
 
 
 <arg name="sim" default="false" />
 <arg name="debug" default="false" />
  
 <!-- Remap follow_joint_trajectory -->
 <remap if="$(arg sim)" from="/follow_joint_trajectory" to="/arm_controller/follow_joint_trajectory"/>
  <!-- Launch moveit -->
 <include file="$(find ur3_moveit)/launch/move_group.launch">
   <!-- <arg name="limited" default="$(arg limited)"/>
   <arg name="debug" default="$(arg debug)" /> -->
 </include>
</launch>
